<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MtapBootcamp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34921EB226CFCAFE003028FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34921EC826CFCAFF003028FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34921ED326CFCAFF003028FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
